html {
  background-color: black;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

body {
  width: 366px;
  height: 552px;
  background-color: #f4f4f4;
  margin: 0;
  border-radius: 20px;
  padding: 17px 19px 24px 19px;

  display: flex;
  flex-direction: column;

  /* border: 1px black solid; */

  font-family: "Exo 2", sans-serif;

  font-size: 16px;
}

.removed {
  display: none !important;
}

input[type="text"] {
  border: 0;
  background-color: transparent;

  width: 100%;
  height: 19px;

  border-bottom: 1px solid black;

  font-family: "Exo 2", sans-serif;
  font-size: 16px;

  padding: 0;
  margin: 0;
}

input[type="text"]:focus {
  outline: none;
  border-bottom-color: red;
}

.textInputSpan {
  color: #494949;
}

.textInputLabel {
  width: 100%;
  height: 47px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="radio"] {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.imageSourceRadioLabel {
  cursor: pointer;
  width: 163px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-bottom: 1px black solid;
}

.imageSourceRadioLabelSelected {
  border-bottom: 3px solid red;
  font-weight: 600;
}

#thumbnailUploadArea {
  border-radius: 12px;

  height: 196px;
  width: 100%;

  position: relative;

  font-size: 20px;
}
#thumbnailPreview {
  height: 200px;
}

.upload-area {
  border: 1px dashed black;

  overflow: hidden;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-area:hover {
  background-color: darkgrey;
}
.upload-area:active {
  background-color: grey;
}

#avatarUploadArea {
  width: 66px;
  height: 66px;
  border-radius: 50px;
  /* margin-right: 10px;
  margin-bottom: -3px; */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#avatarUploadArea > p {
  font-size: 16px;
}
