body {
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

label {
  height: 50px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  font-size: 16px;
  font-weight: 500;

  box-sizing: border-box;
}

input {
  height: 30px;
  width: 100%;
  margin: 0;

  box-sizing: border-box;

  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}

input[type="checkbox"] {
  width: 30px;
}

label input {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}
.-mt-5 {
  margin-top: -5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .hidden {
  visibility: hidden !important;
} */

.removed {
  display: none !important;
}

#wrongUrlText {
  font-size: 20px;
}

.upload-area {
  border: 2px dashed #ccc;

  overflow: hidden;
  cursor: pointer;

  text-align: center;
}
.upload-area:hover {
  background-color: darkgrey;
}
.upload-area:active {
  background-color: grey;
}

.upload-area > img:not(.removed) + p {
  display: none;
}

#thumbnailUploadArea {
  border-radius: 12px;

  height: 200px;
  width: 100%;
}
#thumbnailPreview {
  height: 200px;
}

#applyChangesButton {
  margin-top: 10px;
  cursor: pointer;
  height: 40px;
  width: 100%;
  font-size: 20px;
  border: 0;
  background-color: lightblue;
  border-radius: 5px;
}

.img-or-url-wrapper {
  margin-bottom: 8px;
  border: 1px solid gray;
  border-radius: 5px;
}

.img-or-url-wrapper .img-or-url-label:first-of-type {
  border-right: 1px solid gray;
}

.img-or-url-label {
  cursor: pointer;
  height: 25px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .img-or-url-label {
  background-color: lightblue;
  transition: all 0.5s;
}

/* .img-or-url-label input:checked + .radio-name {
  text-decoration: underline;
} */

.switch-wrapper {
  flex-direction: column;
}

.switch-label {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
}

.switch-label > input {
  height: 0;
  width: 0;
}

.switch-label > p {
  margin: 0;
  margin-top: -4px;
}

.switch-slider {
  height: 22px;
  width: 40px;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;

  border-radius: 15px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;

  border-radius: 50px;
}

input[type="checkbox"]:checked + .switch-slider {
  background-color: lightblue;
}

input[type="checkbox"]:checked + .switch-slider:before {
  transform: translateX(17px);
}

.align-end {
  align-items: flex-end;
}

#avatarUploadArea {
  width: 50px;
  height: 50px;
  /* border: black 1px dotted; */
  border-radius: 50px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: -3px;
}

#avatarUploadArea:not(.removed) + #channelNameLabel {
  flex-grow: 1;
  width: auto;
}

#avatarPreviewText {
  font-size: 8px;
}

#avatarPreview {
  scale: 5%;
}
