body {
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

label {
  height: 50px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  font-size: 16px;
  font-weight: 500;
}

/* label:not(:first-child) {
  margin-top: 5px;
} */

input {
  height: 30px;
  width: 100%;
  margin: 0;

  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 30px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none !important;
}

#wrongUrlText {
  font-size: 20px;
}

#imageUploadArea {
  border: 2px dashed #ccc;
  border-radius: 20px;

  height: 200px;
  width: 100%;

  overflow: hidden;
  cursor: pointer;
}
#imageUploadArea:hover {
  background-color: darkgrey;
}
#imageUploadArea:active {
  background-color: grey;
}
#imagePreview {
  height: 200px;
}

#applyChangesButton {
  margin-top: 10px;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

label.flex-center {
  cursor: pointer;
  height: 25px;
}

label.flex-center input {
  display: none;
}

label.flex-center input:checked + .radio-name {
  text-decoration: underline;
}
